# ======================
# Virtual environments
# ======================
venv/
.env
google.html

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Django
# ======================
db.sqlite3
media/
staticfiles/
local_settings.py

# ======================
# Logs
# ======================
*.log

# ======================
# Testing / Coverage
# ======================
.coverage
htmlcov/
.pytest_cache/

# ======================
# Packaging
# ======================
build/
dist/
*.egg-info/

# ======================
# OS / IDE
# ======================
.DS_Store
.vscode/
.idea/
